form[id="edit" method="POST" action="#{APP}/members/#{@member[:id]}"]
  table.table.table-bordered
    tr
      th 名前
      th 表示順
      th 表示対象
    tr
      td
        input.form-control[type="text" name="member_name" id="member_name" value=@member[:name] autofocus]
      td
        input.form-control[type="text" name="member_order" id="member_order" value=@member[:order]]
      td
        input[type="checkbox" name="member_active" id="member_active" checked=(@member[:active] ? "checked" : false)]
  p
    a.btn.btn-sm.btn-link>[href="#{APP}/members"] キャンセル
    button.btn.btn-sm.btn-success>[name="button" type="submit" value="save"] 保存
    span#del-before
      a.btn.btn-sm.btn-danger#del-before-btn[href="#"] 削除
    span#del-after
      a.btn.btn-sm.btn-default#del-cancel-btn>[href="#"] キャンセル
      button.btn.btn-sm.btn-danger[form="delete" name="button" type="submit" value="delete"] 削除！

form[id="delete" method="POST" action="#{APP}/members/#{@member[:id]}"]
  input[type="hidden" name="_method" value="DELETE"]
