table.table.table-bordered
  tr
    th 名前
    th 表示順
    th 表示対象
  - @members.each do |m|
    tr
      td
        a[href="#{APP}/members/#{m[:id]}/edit"]= m[:name]
      td= m[:order]
      td
        input[type="checkbox" checked=(m[:active] ? "checked" : false) disabled="disabled"]
p
  a.btn.btn-sm.btn-primary[href="#{APP}/members/new"] 新規
