<p><a class="btn btn-sm btn-link" href="<%= APP %>/<%= @navs[:here] %>">キャンセル</a> <button class="btn btn-sm btn-success" name="button" type="submit" value="save">保存</button> <button class="btn btn-sm btn-primary" name="button" type="submit" value="save_and_next">保存 &amp; 次月 &gt;</button></p>
