doctype html
html
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      | ARS Calendar 
      = @days? @days[0].strftime('%Y/%m') : ''
    script[src="#{APP}/js/jquery.min.js"]
    script[src="#{APP}/js/bootstrap.min.js"]
    script[src="#{APP}/js/scheduler.js"]
    link[rel="stylesheet" href="#{APP}/css/bootstrap.min.css"]
    link[rel="stylesheet" href="#{APP}/css/scheduler.css"]
  body
    header.navbar.navbar-default[role="navigation"]
      .container
        .navbar-header
          button.navbar-toggle[data-target=".navbar-collapse" data-toggle="collapse" type="button"]
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand>[href="./"] ARS Calendar
          span.navbar-brand = @days? @days[0].strftime('%Y/%m') : ''
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a[href="#{APP}/"] Home
            li
              a[href="#{APP}/members"] Members
    .container
      == yield
